header {
  background-color: #000;
  width: 100%;

  .wrapper {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

    .logo h1 {
      color: #fff;
      margin: 0;
      padding: 10px;
    }
  }
}
