@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body {
  margin: 0;
  padding: 0;
  background-color: #707174;
  font-family: 'Nunito', sans-serif;
}

.main {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}
